{extend name="common/default"}
{block name="main"}
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="/user/index" method="get">
                <table class="search-tab">
                    <tr>
                        <th width="120">选择分类:</th>
                        <td>
                            <select name="sex" id="">
                                <option value="">全部</option>
                                <option
                                 {if(!empty($sex)) and ($sex == 'm')}
                                 selected
                                 {/if}
                                 value="m">男</option>
                                <option
                                 {if(!empty($sex)) and ($sex == 'w')}
                                 selected
                                 {/if}
                                 value="w">女</option>
                                <option
                                 {if(!empty($sex)) and ($sex == 'x')}
                                 selected
                                 {/if}
                                 value="x">保密</option>
                            </select>
                        </td>
                        <th width="70">关键字:</th>
                        <td><input class="common-text" placeholder="关键字" name="uname" value="{if(!empty($uname))}{$uname}{/if}" id="" type="text"></td>
                        <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="result-wrap">
        <form name="myform" id="myform" method="post">
            <div class="result-title">
                <div class="result-list">
                    <a href="insert.html"><i class="icon-font"></i>新增作品</a>
                    <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                    <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                        <th>ID</th>
                        <th>姓名</th>
                        <!-- <th>密码</th> -->
                        <th>权限</th>
                        <th>性别</th>
                        <th>电话</th>
                        <th>注册时间</th>
                        <th>操作</th>
                    </tr>
                    <!-- $user为UserController中的user -->
                    {foreach $user as $key=>$v}
                    <tr>
                    	<td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                    	<td>{$v->uid}</td>
                        <td>{$v->uname}</td>
                    	<!-- <td>{$v->upwd}</td> -->
                    	<td>{$v->auth}</td>
                    	<td>{$v->sex}</td>
                    	<td>{$v->tel}</td>
                    	<td>{$v->create_at|date='Y-m-d'}</td>
                        <td>
                            <a class="link-update" href="/user/edit?uid={$v->uid}">修改</a>
                            <a class="link-del" href="/user/delete?uid={$v->uid}">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                </table>
                <div class="list-page">{$user->render()|raw}</div>
            </div>
        </form>
    </div>
</div>
{/block}