{extend name="common/default"}
{block name="main"}
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="/jscss/admin/design/">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="/jscss/admin/design/">用户管理</a><span class="crumb-step">&gt;</span><span>添加商品</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="/order/update?oid={$order->oid}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <table class="insert-tab" width="100%">
                    <tbody>
                        <tr>
                            <th><i class="require-red">*</i>订单号：</th>
                            <td><input class="common-text" readonly name="oid" size="40" value="{$order->oid}" type="text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>总金额：</th>
                            <td><input class="common-text" readonly name="total" size="40" value="{$order->total}" type="text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>下单时间：</th>
                            <td><input class="common-text" name="create_at" size="40" value="{$order->create_at}" type="text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>收货人：</th>
                            <td><input class="common-text" name="rec" size="40" value="{$order->rec}" type="text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>收货地址：</th>
                            <td><input class="common-text" name="addr" size="40" value="{$order->addr}" type="text"></td>
                        </tr>
                        <tr>
                            <th><i class="require-red">*</i>联系方式：</th>
                            <td><input class="common-text" name="tel" size="40" value="{$order->tel}" type="text"></td>
                        </tr>
                        
                        <tr>
                            <th></th>
                            <td>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
{/block}