{extend name="common/default"}
{block name="main"}
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="/order/index" method="get">
                <table class="search-tab">
                    <tr>
                        <th width="120">选择分类:</th>
                        <td>
                            <select name="status" id="">
                                <option value="0">全部</option>
                                <option value="1" 
                                {if(!empty($status)) and $status == '1'}
                                selected
                                {/if}
                                >已下单</option>
                                <option value="2" 
                                {if(!empty($status)) and $status == '2'}
                                selected
                                {/if}
                                >已发货</option>
                                <option value="3" 
                                {if(!empty($status)) and $status == '3'}
                                selected
                                {/if}
                                >已收货</option>
                                <option value="4" 
                                {if(!empty($status)) and $status == '3'}
                                selected
                                {/if}
                                >取消订单</option>
                            </select>
                        </td>
                        <th width="70">订单号:</th>
                        <td><input class="common-text" placeholder="关键字" name="oid" value="{if !empty($oid)}{$oid}{/if}" id="" type="text"></td>
                        <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="result-wrap">
        <form name="myform" id="myform" method="post">
            <div class="result-title">
                <div class="result-list">
                    <a href="insert.html"><i class="icon-font"></i>新增作品</a>
                    <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                    <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                        <th>订单号</th>
                        <th>总金额</th>
                        <th>下单时间</th>
                        <th>收货人</th>
                        <th>收货地址</th>
                        <th>总数量</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    {volist name="order" id="vo"}
                    <tr>
                    	<td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                        <td>{$vo->oid}</td>
                        <td>{$vo->total}</td>
                        <td>{:date('Y-m-d H:i:s',$vo->create_at)}</td>
                        <td>{$vo->rec}</td>
                        <td>{$vo->addr}</td>
                        <td>{$vo->cnt}</td>
                    	<td>{$vo->status}</td>
                        <td>
                            <a class="link-update" href="/order/edit?oid={$vo->oid}">修改</a>
                            <a class="link-update" href="/order/show?oid={$vo->oid}">订单详情</a>
                            <a class="link-update" href="/order/fa/{$vo->oid}">发货</a>
                            <a class="link-update" href="/order/shou/{$vo->oid}">已收货</a>
                            <a class="link-update" href="/order/cancel/{$vo->oid}">取消订单</a>
                            <a class="link-del" href="/order/delete?oid={$vo->oid}">删除</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
                <div class="list-page">{$order->render()|raw}</div>
            </div>
        </form>
    </div>
</div>
{/block}