{extend name="common/default"}
{block name="main"}
<div class="main-wrap">
    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="index.html">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">作品管理</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="/cate/index" method="get">
                <table class="search-tab">
                    <tr>
                        <th width="120">选择分类:</th>
                        <td>
                            <select name="cid" id="">
                                <option value="0">全部</option>
                                {volist name="cates" id="v"}
                                <?php
                                    $n = substr_count($v->path,',')-1;
                                ?>
                                 <option 
                                 {if (!empty($_GET['cid'])) and $_GET['cid'] == $v->cid}selected{/if}
                                 value="{$v->cid}">{:str_repeat('&nbsp;',4*$n)}|---{$v->cname}</option>
                                {/volist}
                            </select>
                        </td>
                        <th width="70">关键字:</th>
                        <td><input class="common-text" placeholder="关键字" name="cname" value="{if (!empty($cname))}{$cname}{/if}" id="" type="text"></td>
                        <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="result-wrap">
        <form name="myform" id="myform" method="post">
            <div class="result-title">
                <div class="result-list">
                    <a href="insert.html"><i class="icon-font"></i>新增作品</a>
                    <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                    <a id="updateOrd" href="javascript:void(0)"><i class="icon-font"></i>更新排序</a>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                        <th>ID</th>
                        <th>类别名称</th>
                        <th>分类父ID</th>
                        <th>分类的路径</th>
                        <th>操作</th>
                    </tr>
                    <!-- {foreach $cate as $k => $v}
                    <tr>
                        <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                        <td>{$v->cid}</td>
                        <td>{$v->cname}</td>
                        <td>{$v->pid}</td>
                        <td>{$v->path}</td>
                        <td>
                            <a class="link-update" href="#">修改</a>
                            <a class="link-del" href="#">删除</a>
                        </td>
                    </tr>
                    {/foreach} -->
                    {volist name="cate" id="vo" empty="暂时没有数据"}
                    <?php 
                        $n = substr_count($vo->path,',')-1;
                     ?>
                    <tr>
                        <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                        <td>{$vo->cid}</td>
                        <td>{:str_repeat('&nbsp;',6*$n)}|---{$vo->cname}</td>
                        <td>{$vo->pid}</td>
                        <td>{$vo->path}</td>
                        <td>
                            <a class="link-update" href="/cate/{$vo->cid}/edit">修改</a>
                            <a class="link-del" href="/cate/delete/{$vo->cid}">删除</a>
                            <a class="link-del" href="/cate/create/{$vo->cid}">添加子类</a>
                        </td>
                    </tr>
                    {/volist}
                </table>
                <div class="list-page">{$cate->render()|raw}</div>
            </div>
        </form>
    </div>
</div>
{/block}